.preview-node {
  height: 150px;
  width: 200px;
  border: 1px solid #4d4d4d;
  padding: 5px;
  border-radius: 5px;
  background: white;
  display: grid;
  place-items: center;
}

#preview-node-label {
  font-size: 8px;
  font-weight: bold;
  color: #333;
}

#preview-node-stats {
  font-size: 8px;
  margin-top: 6px;
}

#preview-node-content {
    width: 100%;
    height: 120px;
    margin-top: 6px;
    background: #ababab;
    border-radius: 6px;
    overflow: hidden;
}